* {
    background-color: rgb(0, 217, 255);
}
#mainHeader {
    display:flex;
    justify-content:center;
    color:rgb(82, 31, 222);
    margin-bottom:100px;
}
#buttonContainer {
    display:flex;
    justify-content:center;
    margin-top:130px;
    gap:50px;
    padding-left:450px;
    padding-right:450px;
}
img {
    height:150px;
    width:auto;
    border-radius:10px;
}
.buttons {
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:20px;
}
.clicks{
    height:30px;
    background-color: rgb(0, 153, 255);
    border-radius:10px;
    font-size:20px;
}
#initialHeader{
    display:flex;
    justify-content: center;
}
#dynamicDiv {
    display:flex;
    justify-content:center;
    gap:50px;
    height:27.5px;
}
.resultField {
    font-size: 20px;
}
#matchResultContainer {
    display:flex;
    flex-direction:column;
    justify-content:baseline;
    align-items:center;
    margin-top:30px;
    font-size:20px;
}
.playAgainButton {
    margin-top:30px;
    height:30px;
    background-color: rgb(0, 153, 255);
    border-radius:10px;
    font-size:15px;
}
